<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
                "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- Connection settings -->
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/webdeli</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">1101</property>

        <!-- SQL dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <!-- Print executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!--&lt;!&ndash; Drop and re-create all database on startup &ndash;&gt;-->
        <!--<property name="hibernate.hbm2ddl.auto">create-drop</property>-->

        <!-- Annotated entity classes -->
        <mapping class="com.DeliFood.core.Restaurant"/>
        <mapping class="com.DeliFood.core.Menu"/>
        <mapping class="com.DeliFood.core.Customer"/>


    </session-factory>
</hibernate-configuration>